{# Specialized singleday template for the site's front page. #}
{# This is going to be redundant with singleday_archive.html... #}

{% extends "base.html" %}

{% block content %}

    {% for day in day_list %}
        <div class="day">
            <span class="big day">{{ day.day }}</span>
            {% with story=day.story %}
                {% include "story/story_include.html" %}
            {% endwith %}
        </div>

    {% endfor %}

    {% if previous_day %}
        <h3>
            <span class="center">&#167;</span>
            <a href="{% url day_day_archive previous_day.year previous_day.month previous_day.day %}">Yesterday's story</a>
        </h3>

    {% endif %}
    <h3>
        <span class="center">&#167;</span>
        <a href="{% url random_day %}">Random story</a>
    </h3>
    {% if nice_month and today %}
    <h3>
        <span class="center">&#167;</span>
        <a href="{% url day_month_archive today.year today.month %}">All {{ nice_month }}'s Stories</a>
    </h3>
    {% endif %}

{% endblock content %}