html {
    overflow-y: scroll;
    /*background-color: #f0eee3;*/
}

body {
    background-color: #ccc;
}

/*header.container {*/
.header_wrapper, .footer_wrapper {
    background-color: #006699;
    border-bottom: dotted black 1px;
    border-top: dotted black 1px;
}

div.footer_wrapper {
    margin-top: 10px;
}

div.header_wrapper {

}

footer.row {
    margin-top: 20px;
    padding-top: 10px;
}

h6#site_footer, h6#site_footer a {
    color: #ccc;
    text-align: center;
}

header h1 {
    padding-bottom: 0.2em;
    padding-top: 0.2em;

}

header h1 span.read, span.read, span.gray {
    color: #BBB;
    /*color: #DDD;*/
}

header h1 span.me, span.me, span.pink {
    color: #996699;
}

header h1 span.do, span.do, span.black {
    color: #333;
}

header h1 a {
    color: #333;
    text-decoration: none;
    padding-left: 10px;
    font-size: 2.5em;

    /*text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.7); *//* subtle emboss */
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7); *//* subtle drop shadow */
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5), /* more emboss */ 0 1px 0 rgba(255, 255, 255, 0.4);

    /* uncomment these for an effect of sitting on the dotted border */
    line-height: .8em;
}

header h3 {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5), /* more emboss */ 0 1px 0 rgba(255, 255, 255, 0.4);
    font-size: 1.8em;
    line-height: 1.5em;
    padding-right: 1em;
}

header.container {
    padding-top: .5em;

    /* uncomment these for an effect of sitting on the dotted border */
    padding-bottom: .4em;

}

header h1 a:visited {
    color: #333;
}


div#sidebar {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 30px;
    background-color: #bbb;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
}

/* #site_header was the sidebar side header -- now it's found as #sidebar h1 */
#sidebar h1 {
    margin-bottom: 0;
    /*text-shadow: 0px 2px 3px rgba(221, 221, 221, 0.9);*/
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15), 0 1px 0 rgba(221, 221, 221, 0.9);
    font-size: 54px;
    padding: .25em 0 0 0;
}

#sidebar h1 a {
    text-decoration: none;
}

#sidebar_content h3 {
    text-align: center;
}


h1.title a, h1.title, h1, h2.entry-title, h2.entry-title a {
    /*text-shadow: 0px 2px 3px #555;*/
    text-shadow: 0 2px 3px rgba(85, 85, 85, 0.5);
    text-decoration: none;
}

h1.title a:hover {
    text-decoration: underline;
}

div.day {
    line-height: 2.8em;
}

a.day {
    color: #888;
    -webkit-transition: color 0.2s ease-in;
    -moz-transition: color 0.2s ease-in;
    -o-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
}

a:link.day {
    color: #444 !important;
}

a:hover.day {
    color: #959696;

}

.big {
    font-size: 42px;
}

.medium {
    font-size: 24px;
}

.small {
    font-size: 16px;
}

.lead:first-letter {
    font-size: xx-large;
    position: relative;
    top: -.25em;
}

div.day {
    background-color: #F5F5F5;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    padding-top: .6em;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

div.day, .dotted-border {
    /*background-color: #eee;*/
    border-left: 1px dotted black;
    border-right: 1px dotted black;
    padding-left: 1.1em;
    padding-right: 1.2em;
}

p.lead {
    padding-top: 0.3em;
}

p.teaser {
    line-height: 1.8em;
    font-size: 20px;
}


a.full_story {
    color: #333;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in;
    -o-transition: color 0.4s ease-in;
    transition: color 0.4s ease-in;
    /*opacity: .3;*/
    /*height: 0;*/
    /*overflow: hidden;*/
}

span.previous {
    float: left;
}

span.next {
    float: right;
}

.hidden {
    display: none;
}

.center {
    text-align: center;
}

.error {
    color: #9A001A;
}

#spinner {
    display: none;
}

.short_description {
    text-transform: uppercase;
    color: #CCC;
    position: relative;
    top: 0.5em;
}

.right {
    float: right;
}

.left {
    float: left;
}

.ui-datepicker {
    width: 15.5em;
}

.hasDatepicker {
    padding-bottom: 1em;
}

a.yes, a.no, a.maybe {
    text-transform: uppercase;
    font-size: smaller;
    font-weight: bold;
    margin-left: .4em;
    margin-right: .4em;
}

.ui-button.yes {

}

div.more_actions {
    width: 80%;
    margin: 0px auto;
    border: 1px dotted #bbb;
    background-color: #e5e5e5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    margin-top: 1em;
}

.more_actions {
    font-size: 1.1em;
    line-height: 1.4em;
}

.more_actions p {
    padding: .4em;
}

.more_actions h4 {
    margin: .4em;

}