h1.title a{
    text-shadow: 0px 2px 3px #555;
}
h1.title a {
    text-decoration: none;
}

h1#site_header {
    text-shadow: 0px 2px 3px #ddd;

}

h1.title a:hover {
    text-decoration: underline;
}

h1#site_header {
    margin-top: 1em;
    text-align:center;
}

h6#site_footer {
    margin-top: 5em;
    text-align:center;
}

.day {
    text-decoration: none;
    color: #ddd;
}

a.day {
    color: #bbb;
    -webkit-transition:color 0.1s ease-in;
    -moz-transition:color 0.1s ease-in;
    -o-transition:color 0.1s ease-in;
    transition:color 0.1s ease-in;
}

a:link.day {
    color: #bbb; !important
}

a:hover.day {
    color: #959696;

}


.big {
    font-size: 48px;
}

.small {
    font-size: 16px;
}

.lead:first-letter {
    font-size: xx-large;
    position: relative;
    top: -.25em;
}

p.teaser {
    line-height: 2em;
}

#site_header_container {
    background-color: #aaaaaa;
}

header.container {
    padding-top: 2em;
}

a.full_story {
    -webkit-transition: opacity .2s ease-in-out;
    opacity: .2;
    /*height: 0;*/
    /*overflow: hidden;*/
}

