{% for day in day_list %}
    <div class="day">
        <span class="big day">{{ day.day }}</span>
        {% with story=day.story %}
            {% include "story/story_include.html" %}
        {% endwith %}

        {% if previous_day %}
            <a href="{% url day_day_archive previous_day.year previous_day.month previous_day.day %}">&#171; Previous</a>
        {% endif %}
        {% if next_day %}
            <a href="{% url day_day_archive next_day.year next_day.month next_day.day %}">Next &#187;</a>
        {% endif %}
    </div>

{% endfor %}