<h3>How are the stories selected?</h3>

<p>
    It's a mix of an algorithm that selects a new story to feature each day, drawing from many literary journal websites
    that are crawled,
    and human input.
</p>

<h3>Just one story a day? I want more!</h3>

<p>All the stories that have ever been featured on {{ SITE_NAME }} are still available. For example,
    check out {% if today %}<a
            href="{% url day_month_archive today.year today.month %}">this month's featured stories.</a>,
        or{% endif %} a <a href="{% url random_day %}">random past featured story</a>.
</p>

<h3>Why show only the first paragraph or two?</h3>

<ul class="disc">
    <li>We have no desire to take traffic away from
        the site that originally published the story. In fact, we want to <em>increase</em> their traffic&mdash;they
        deserve your attention!
    </li>
    <li>Your time is valuable. If you're hooked by a taste, read on. Otherwise, check out another, or come back
        tomorrow.
    </li>
</ul>


<h3>Won't people miss out on good stories if they see only one or two paragraphs?</h3>

<p>
    Maybe. But wIe think it's better than if they never saw any part of the story at all, which is what likely would
    have
    happened if {{ SITE_NAME }} wasn't around.
</p>

<h3>I'm the editor of a literary journal, and I'd like stories from my journal included.</h3>
<p>Awesome! <a href="{% url contact_form %}">Tell me</a> where to find your journal, and I'll get right on it.</p>

<h3>I'm a writer, and I'd like my stories included. </h3>
<p>Cool! <a href="{% url contact_form %}">Tell me</a> where we can find your stories, and I'll hop to it.</p>

<h3>Who's behind {{ SITE_NAME }}?</h3>
<p><a href="http://www.williamjohnbert.com/">A writer and software engineer from Washington, DC, named William</a> who
    thought it would be cool if people who wanted
    to read new stories had an easy way to find them!</p>