{% load dailystorysite_tags %}

<div class="ten columns alpha center">
    <div class="row remove-bottom">
        <h1 id="site_title" class=""><a href="{% url index %}">{% include_site_name_header %}</a></h1>

        <h6 class="tag remove-bottom">New short fiction from across the internet every day.</h6>

    </div>
</div>
<div class="five columns omega center sidebar">
{#    <h3 class="">{% include_description_short %}</h3>#}
    <h6 class="statistics sweet-justice">{% include_statistics %}</h6>
</div>
