{% load dailystorysite_tags %}
{% load day_tags %}
{% load zinnia_tags i18n %}

<div id="sidebar_content">

    <div id="widget-recent-entries" class="widget">
        <h3>News</h3>
        {% get_recent_entries 3 %}
    </div>
    
    <div id="widget-calendar" class="widget">
        <h3>Stories</h3>
        {% get_calendar_widget %}
    </div>

    <div id="widget-contact" class="widget">
        <h3>We want to hear from you.</h3>

        <p>Got an idea for {{ SITE_NAME }}? A journal you'd like to see featured? Anything else you want to chat about? <a
                href="{% url contact_form %}"
                class="contact_form_link">Let us know!</a></p>

        <div id="contact_form_hider" class="hidden">
            {% include_contact_form %}
        </div>
    </div>
    
    <div id="widget-info" class="widget">
        <h3>How is the story selected each day?</h3>

        <p class="sweet justice">It's a mix of an algorithm
            and tried-and-true human input. <a
                    href="{% url about %}">The answers to this and other questions are on the FAQ page</a>.
        </p>
    </div>

</div>