h1.title a {
    font-size: 75%;
    text-decoration: none;
}

h1.title a:hover {
    text-decoration: underline;
}

h1#site_header {
    margin-top: 1em;
    text-align:center;
}

h6#site_footer {
    margin-top: 5em;
    text-align:center;
}